@import 'tailwindcss' theme(static);

@theme {
  --color-blue: oklch(39.419% 0.07959 255.38);
  --color-blue-50: oklch(92.374% 0.02114 227.54);
  --color-blue-100: oklch(89.335% 0.02957 230.32);
  --color-blue-200: oklch(82.762% 0.04773 236.54);
  --color-blue-300: oklch(76.2% 0.06478 239.39);
  --color-blue-400: oklch(69.415% 0.08262 242.62);
  --color-blue-500: oklch(62.256% 0.10336 247.42);
  --color-blue-600: oklch(54.736% 0.10737 250.76);
  --color-blue-700: oklch(47.104% 0.09329 253.07);
  --color-blue-800: oklch(39.419% 0.07959 255.38);
  --color-blue-900: oklch(27.954% 0.05393 257.59);
  --color-blue-950: oklch(22.036% 0.03771 257.17);


  --font-sans: 'Raleway', sans-serif;
  --font-numbers: 'Fira Sans', sans-serif;

  --radius-3xl: 1.25rem;
}

@import '@nuxt/ui';

/* Making elements with titles work for touchscreen, keyboard, and mouse
  apply relative position to the element the tooltip should align with

  https://bitsofco.de/making-abbr-work-for-touchscreen-keyboard-mouse/
  https://www.geeksforgeeks.org/how-to-detect-touch-screen-device-using-css/ */
@media (pointer: coarse) {
  *[title]::after {
    @apply pointer-events-none absolute -top-6 left-1/2 z-20 rounded-xl bg-neutral-900/80 px-4 py-2 text-sm whitespace-nowrap text-white opacity-0 shadow transition-all;
    content: attr(title);
    transform: translate(-50%, -25%);
  }
  *[title]:focus::after {
    @apply pointer-events-auto opacity-100;
    transform: translate(-50%, 0);
  }
}

@keyframes swipe {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  20% {
    opacity: 1;
  }

  70%,
  100% {
    transform: translateX(-100px);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Slider */

.slider {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.shape-outside {
  shape-outside: inset(calc(100% - var(--spacing) * 14) 0 0);
}
